<div class="row">
  <div class="col-sm-10 offset-sm-1 form-container">
    <div class="row">
      <div class="col-sm-5 left-form">
        <figure><img src="img/registration_bg.svg" alt=""></figure>
        <h2>Registration</h2>
        <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque
          an per, lucilius pertinacia eu vel.</p>
        <a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i class="pe-7s-info"></i></a>
      </div>
      <div class="col-sm-7">
        <form class="p-t-25">
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>