body {
  background: #e4edf2;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto Condensed",Arial,sans-serif;
  color: #555
}
.form-container,
footer,
header {
  background-color: #fff;
}
.left-form {
  background-color: #F60;
  min-height: 460px;
  color: #fff;
  padding: 70px 50px 30px;
  box-sizing: border-box;
}
.fa-5 {
  font-size: 10em;
}