<div class="container-fluid">
  <div class="col-xs-12">
    <div id="logo-home">
      <h1><a href="#">NPS Form</a></h1>
    </div>
    <!-- <div class="col-xs-9">
        <div id="social">
          <ul>
            <li><a href="#0"><i class="icon-facebook"></i></a></li>
            <li><a href="#0"><i class="icon-twitter"></i></a></li>
            <li><a href="#0"><i class="icon-google"></i></a></li>
            <li><a href="#0"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div> -->
  </div>
</div>